<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="./css/style.css" media="screen" title="no title" charset="utf-8">
<body ng-controller="mainCtrl" ng-init="getTodos()">

  <header class="container">
    <h1 class="navbar-text">Mike's Todo Application</h1>
  </header>
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <form class="form-group" ng-submit="postTodos(newTask)">
      <input class="form-control" type="text" name="name" value="" ng-model="newTask">
      <!-- <input class="form-control" type="text" name="name" value=""> -->
      <!-- <input class="form-control" type="text" name="name" value=""> -->
      <center><input class="btn btn-primary" type="submit" name="name" value="Add Chore"></center>
    </form>
    <hr>
  </div>

  <div class="container" ng-repeat="todo in todos">
    <h3>{{todo.tasks | uppercase}} <button type="button" class="btn btn-primary" ng-click ="deleteTask(todo.id)">X</button></h3>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="./app/app.js" charset="utf-8"></script>
<script src="./app/controllers/mainCtrl.js" charset="utf-8"></script>
<script src="./app/service/mainServ.js" charset="utf-8"></script>




</body>
</html>
